:root {
    --dodgerblue: #2196f3;
    --black: #000000;
    --white: #ffffff;
    --darkgrey: #212121;
    --lightgrey: #757575;
    --verydarkgrey: #2f303a;
    --clearwhite: #ffffff99;
}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--darkgrey);
}
ul,
p,
h1,
h2,
h3,
h4,
figure {
    margin: 0;
    padding: 0;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    /* outline: 1px dashed red; */
}
.section {
    padding: 94px 0;
}
.page-header {
    padding: 24px 0 25px;
}
.page-header > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page-header > .container > nav {
    display: flex;
    gap: 93px;
}
.page-header > .container > aside {
    display: flex;
}
.page-header > .container > nav > .nav-list {
    display: flex;
    gap: 46px;
}
.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: var(--dodgerblue);
    text-decoration: none;
}
.studio-black {
    color: var(--black);
}
.studio-white {
    color: var(--white);
}
.content-section {
    background-color: var(--verydarkgrey);
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 200px;
}
.images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
.second-heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--darkgrey);
    text-align: center;
}
.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
.order {
    width: 200px;
    background-color: var(--dodgerblue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 15px;
    padding: 10px 41px 10px 42px;
}
.text-order {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white);
    text-align: justify;
}

.footer-wrapper {
    font-style: normal;
    background-color: var(--verydarkgrey);
}

.footer-wrapper .company-info {
    background-color: var(--verydarkgrey);
    color: var(--white);
}
.company-info {
    font-style: normal;
}
.nav-list {
    list-style: none;
}
.nav-list .nav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--darkgrey);
}

.nav-list a:hover,
.nav-list a:focus {
    color: var(--dodgerblue);
}

.nav-link {
    color: var(--dodgerblue);
}

.contacts a {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--lightgrey);
}

.contacts a:hover,
.contacts a:focus {
    color: var(--dodgerblue);
}
.button-list {
    list-style: none;
}
.button-list button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--darkgrey);
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-list button:hover,
.button-list button:focus {
    color: var(--white);
    background-color: var(--dodgerblue);
}

.address {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white);
}
.second-contacts a {
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--clearwhite);
}
.second-contacts span {
    font-size: 14px;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--clearwhite);
}
.second-contacts a:hover,
.second-contacts a:focus {
    color: var(--dodgerblue);
}
.section {
    padding: 94px 0;
}

.project-list {
    list-style: none;
}
.project-list h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--darkgrey);
}
.project-list span {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--lightgrey);
}
.first-heading {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white);
    text-align: center;
    margin: 15px;
}
.lorem-list {
    display: flex;
    list-style: none;
}
.lorem-box {
    width: 270px;
}

.lorem-list h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--darkgrey);
}
.lorem-list p {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--lightgrey);
    gap: 30px;
}

.job-list {
    list-style: none;
}
.job-list h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--darkgrey);
    text-align: center;
}
.job-list span {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--lightgrey);
    text-align: center;
}
